# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Docker volumes
mongo_data/

# Environnements
.env
.env.local

dist/login.json
role.json

# Tests
__tests__/
coverage/
