name: CI Tests (Docker)

on:
  push:
    branches: [ dev, main ]
  pull_request:
    branches: [ dev, main ]

jobs:
  test-backend:
    runs-on: ubuntu-latest

    steps:
      # 1. Récupération du code
      - name: Checkout repo
        uses: actions/checkout@v3

      # 2. Login Docker Hub
      # - name: Login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Build des services via docker-compose
      - name: Build Docker Images
        run: docker compose build

      # 4. Lancer juste le backend + mongo
      - name: Run containers
        env:
          MONGO_URL: mongodb://mongo:27017/beautyconnect
          JWT_SECRET: testsecret
        run: |
          docker compose up -d mongo
          docker compose up -d backend

      # 5. Lancer les tests dans le conteneur backend
      - name: Run Jest tests in container
        run: docker compose exec -e JWT_SECRET=testsecret backend npm test

      # 6. Nettoyage (optionnel)
      - name: Stop containers
        if: always()
        run: docker compose down